html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';
    background-color: #f8f9fa;
}

.container {
    display: grid;
    gap: 1.5rem;
    padding: 2rem;
    width: min(95%, 70rem);
    margin-inline: auto;
}

.container > * {
    border-radius: 10px;
    display: flex; 
    flex-direction: column;
    gap: 0.25em;
    box-shadow: 1px 3px 3px #ced4da;
}

@media screen and (min-width: 800px) {
    .grid-col-span-2 {
        grid-column: span 2;
    }

    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .last-child {
        grid-column-start: 2;
        grid-row-start: 2;
        grid-row-end: 4;
    }
}

@media screen and (min-width: 1000px) {
    .grid-col-span-2 {
        grid-column: span 2;
    }

    .last-child {
        grid-column-start: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .container {
        grid-template-columns: repeat(4, 1fr);
    }
}

article {
    padding: 20px 20px;
}

.user-info {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    justify-content: left;
    align-items: center;
}

.user-info p {
    font-size: 11px;
    line-height: 0%;
}

.user-info h4 {
    font-size: 13px;
    line-height: 90%;
}

img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid black;
}

.purple-article {
    background-color: #6200b3;
    color: white;
}

.light-grey-article {
    background-color: #adb5bd;
    color: black;
}

.white-article {
    background-color: white;
}

.dark-grey-article {
    background-color: #343a40;
    color: white;
}